$primary-color: #3E3F42
$sub-color: #9EA0A5


body
  padding: 0
  margin: 0

a
  text-decoration: none
  color: inherit

a:focus
    outline: none!important

input:focus,
button:focus
  outline: none

.clearfix::after
  content: ""
  clear: both
  display: table

.App
  font-family: "Bebas-Neue", sans-serif
  font-size: 14px

.content-wrapper
  min-height: 100vh
  position: relative
  padding-bottom: 5%

.z-header
  height: 90px
  padding: 15px 3%
  border-bottom: 1px solid #e6e6e6
  align-content: center
  justify-content: space-between

.z-logo
  width: 180px

.z-content
  width: 1000px
  margin: 0 auto
  padding-top: 5%

.z-title
  font-weight: bold
  font-size: 23px
.z-subtitle
  color: #333333
  font-size: 16px
  margin-top: 10px
.z-row-cards
  display: flex
  justify-content: flex-end
.z-card
  width: 120px
  height: 120px
  background: #e50914
  display: flex
  align-items: center
  justify-content: center
  color: #ffffff
  font-size: 17px
  font-weight: bold
  margin-left: 40px
  margin-right: 40px
  opacity: 0.6
  cursor: pointer

.z-table

.z-table-row
  display: flex
  border-bottom: 1px solid #cccccc
  height: 64px
  align-items: center
.z-item-1
  width: 40%
  color: #4e4e4e
  font-size: 18px
.z-item-2
  width: calc(60% / 3)
  text-align: center
  color: #a6a6a6
  font-size: 16px

.z-item-2.active,
.z-item-3.active,
.z-item-4.active
  color: #e50914

.z-item-3
  width: calc(60% / 3)
  text-align: center
  color: #a6a6a6
  font-size: 16px
.z-item-4
  width: calc(60% / 3)
  text-align: center
  color: #a6a6a6
  font-size: 16px

.z-card.active
  opacity: 1

.z-subtext
  font-size: 13px
  color: #717171
  margin-top: 15px
  margin-bottom: 30px

.text-center
  text-align: center
.z-btn
  color: #ffffff
  background-color: #e50914
  width: 400px
  height: 48px
  line-height: 48px
  cursor: pointer
  font-size: 18px



